<h1><%= @bookshelves.name %></h1>

<p>created_at: <%= @bookshelves.created_at %></p>
<p>updated_at: <%= @bookshelves.updated_at %></p>
<p>full: <%= @bookshelves.full %></p>
<p>capacity: <%= @bookshelves.capacity %></p>