<h1><%= @bookshelves.name %></h1>

<p>id: <%= @bookshelves.id %></p>
<p>created_at: <%= @bookshelves.created_at %></p>
<p>updated_at: <%= @bookshelves.updated_at %></p>
<p>full: <%= @bookshelves.full %></p>
<p>capacity: <%= @bookshelves.capacity %></p>
<p>the number of books in this shelf is: <%= @bookshelves.number_of_books %></p>
