<a href="/books">books index</a>
<a href="/vehicles">vehicle index</a>
<a href="/bookshelves">bookshelf index</a>
<a href="/car_lots">car lot index</a>

<h1>Vehicles</h1>

<% @cars.each do |car| %>
  <h3>name: <%= car.name %></h3>
  <p>id: <%= car.id %></p>
  <p>sold: <%= car.sold %></p>
  <p>price: <%= car.price %></p>
  <p>car lot id: <%= car.car_lot_id %></p>
  <p>created: <%= car.created_at %></p>
  <p>updated: <%= car.updated_at %></p>
<% end %>
