<h1>Vehicles</h1>
<a href="/car_lots/<%= @car_lot.id %>/vehicles/new">create new vehicle</a>

<% @cars.each do |car| %>
  <h3>name: <%= car.name %></h3>
  <p>id: <%= car.id %></p>
  <p>sold: <%= car.sold %></p>
  <p>price: <%= car.price %></p>
  <p>car lot id: <%= car.car_lot_id %></p>
  <p>created: <%= car.created_at %></p>
  <p>updated: <%= car.updated_at %></p>
<% end %>
