<h1>Vehicles</h1>
<a href="/car_lots/<%= @car_lot.id %>/vehicles/new">create new vehicle</a>
<%= link_to 'alphabetize', "/car_lots/#{@car_lot.id}/vehicles?alpha=true" %>

<% @vehicles.each do |vehicle| %>
  <h3>name: <%= vehicle.name %></h3>
  <p>id: <%= vehicle.id %></p>
  <p>sold: <%= vehicle.sold %></p>
  <p>price: <%= vehicle.price %></p>
  <p>car lot id: <%= vehicle.car_lot_id %></p>
  <p>created: <%= vehicle.created_at %></p>
  <p>updated: <%= vehicle.updated_at %></p>
<% end %>

<%= form_with url: "/car_lots/#{@car_lot.id}/vehicles", method: :get, local: true do |form| %>
  <%= form.label 'enter the least amount of money you would like to spend' %>
  <%= form.number_field :budget %>
  <%= form.submit "Only return records with more than number of price" %>
<% end %>
