<h1><%= @books.name %></h1>
<h2><%= @books.author %></h2>

<p>id: <%= @books.id %></p>
<p>created_at: <%= @books.created_at %></p>
<p>updated_at: <%= @books.updated_at %></p>
<p>read: <%= @books.read %></p>
<p>read time: <%= @books.read_time %></p>
<p>bookshelf id: <%= @books.bookshelf_id %></p>
