<h1><%= @car_lots.name %></h1>

<p>created: <%= @car_lots.created_at %></p>
<p>updated: <%= @car_lots.updated_at %></p>
<p>being cleaned: <%= @car_lots.being_cleaned %></p>
<p>lot area: <%= @car_lots.lot_area %></p>