<p><a href="/books">books index</a></p>
<p><a href="/vehicles">vehicle index</a></p>

<h1><%= @car_lots.name %></h1>

<p>id: <%= @car_lots.id %></p>
<p>created: <%= @car_lots.created_at %></p>
<p>updated: <%= @car_lots.updated_at %></p>
<p>being cleaned: <%= @car_lots.being_cleaned %></p>
<p>lot area: <%= @car_lots.lot_area %></p>
<p>the number of vehicles in this car lot is: <%= @car_lots.number_of_vehicles %></p>
