<h1>Vehicles</h1>

<% @cars.each do |car| %>
  <h3>name: <%= car.name %></h3>
  <p>id: <%= car.id %></p>
  <p>sold: <%= car.sold %></p>
  <p>price: <%= car.price %></p>
  <p>car lot id: <%= car.car_lot_id %></p>
  <p>created: <%= car.created_at %></p>
  <p>updated: <%= car.updated_at %></p>
<% end %>

<%= form_with url: "/vehicles", method: :get, local: true do |form| %>
  <%= form.label 'enter the least amount of money you would like to spend' %>
  <%= form.number_field :budget %>
  <%= form.submit "Only return records with more than number of price" %>
<% end %>
