<h1><%= @cars.name %></h1>

<a href="/vehicles/<%= @cars.id %>/edit">update vehicle</a><br>

<%= link_to "delete vehicle", "/vehicles/#{@cars.id}", method: 'delete' %>

<p>id: <%= @cars.id %></p>
<p>created_at: <%= @cars.created_at %></p>
<p>updated_at: <%= @cars.updated_at %></p>
<p>sold: <%= @cars.sold %></p>
<p>price : <%= @cars.price %></p>
<p>car lot id: <%= @cars.car_lot_id %></p>

